*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family:'cooper_hewittbold';
    src: url('cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

header{
    padding: 15px;
}

.logo{
    width: 100px;
    display: inline-block!important;
}

ul{
    display: inline-block;
    position: absolute;
    margin-top: 3px;

}
li{
    list-style: none;
    display: inline-block!important;
    padding-left: 25px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color:#8A05BE;
}

a:hover{
    color: rgb(100, 100, 100);
}

.cell{
    width: 550px;
    position: absolute;
    margin-left: 50%;
    margin-top: -51px;

}

.ft{
    font-size: 92px;
    font-family:'cooper_hewittbold';
    text-transform: uppercase;
    color: white;
    line-height: 1.2;
}

.downloads{
    position: absolute;
    margin-left: 30%;
    margin-top: -81px;
}

.conta{
    margin-top: 75px;
    margin-left: 275px;
}

p{
    font-size: 52px;
    display: inline-block;
}

.cartao{
    margin-left: 275px;
    margin-top: 75px;
}

.novo{
    margin-top: 125px;
    margin-left: 100px;
}

.time{
    margin-top: 125px;
    margin-left: 175px;
    
}

.transfere{
    margin-left: 275px;
    margin-top: 100px;
}

.grad{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 5px 5px 15px 5px rgb(204, 204, 204);
}



@media (max-width: 1440px){
    .downloads{
        margin-left: 175px;
        margin-top: 0px;
    }

    .conta{
        margin-left: 75px;
    }

    .novo{
        margin-left: 75px;
        width: 550px!important;
    }

    .time{
        margin-left: 75px;
    }

    .cartao{
        margin-left: 175px;
    }

    .transfere{
        margin-left: 175px;
    }

    .le{
        margin-left: 75px!important;
 
    }
}

@media (max-width: 1024px){
    .txt{
        margin-left: 50px!important;
    }

    .downloads{
        margin-left: 50px;
    }

    .prin{
        width: 450px;
    }

    .conta{
        margin-left: 15px;
    }

    .novo{
        margin-left: 15px;
    }

    .time{
        margin-left: 15px;
    }

    .cartao{
        margin-left: 500px;
        margin-top: -275px!important;
    }

    .transfere{
        margin-left: 500px;
    }

    .le{
        margin-left: 15px!important;
    }

    .ld{
        margin-left: 50px!important;
        width: 350px!important;

    }

    p{
        font-size: 42px!important;
    }

    .cell{
        margin-left: 450px;
    }
}

@media (max-width: 768px){
    .prin{
        display: none!important;
    }

    .cell{
        display: none!important;
    }

    .ld{
        margin-left: 175px!important;
        text-align: center;
    }

    .le{
        margin-left: 125px!important;
        text-align: center;
    }

    .txt{
        margin-left: 150px!important;
        text-align: center;
    }

    .downloads{
        margin-left: 200px;
    }
}

@media (max-width: 425px){

    .prin{
        display: none!important;
    }

    .cell{
        display: none!important;
    }

    .ld{
        margin-left: 65px!important;
        width: 250px!important;
        text-align: center;
    }

    .le{
        margin-left: 65px!important;
        width: 250px!important;
        text-align: center;
    }

    .txt{
        margin-left: 25px!important;
        width: 350px!important;
        text-align: center;
        margin-bottom: 40px;
        padding-top: 80px!important;
    }

    .downloads{
        margin-left: 35px;
    }

    .ft{
        font-size: 60px;
    }
    
    .menu{
        display: none;
    }
}

@media (max-width: 375px){
    .txt{
        margin-left: 5px!important;
    }

    .sep{
        margin-top: 15px;
        margin-left: 75px;
    }

    .ld{
        margin-left: 35px!important;
        width: 250px!important;
        text-align: center;
    }

    .le{
        margin-left: 35px!important;
        width: 250px!important;
        text-align: center;
    }
}

@media (max-width: 320px){
    .txt{
        width: 250px!important;
        margin-left: 25px!important;
        text-align: center;
        margin-bottom: 0px;
        padding-top: 20px!important;

    }

    .txt{
        font-size: 40px;
    }

    .ld{
        margin-left: 5px!important;
        width: 250px!important;
        text-align: center;
    }

    .le{
        margin-left: 5px!important;
        width: 250px!important;
        text-align: center;
    }
}
